body
{
    background:plum;
}

tr { 
    font-style: italic;
color: rgb(113, 143, 5);}

p { 
    color: tomato;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.rara {
    color: lawngreen;
    font-weight: bold;
}
.rachel {
    background-color: black;
}
